body{
    background-color: bisque;
}

.principal{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;

}

.principal img{
    width: 150px;
}

.post {
    background-color: white;
    padding: 20px;
    margin: 20px;
    width: 60%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }